@import "./variables.scss";

.about-body{
    @include margin-lr(150px);
    font-family: $font-main;

    .about-top{
        margin-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

        .top-text{
            width: 500px;
            line-height: 26px;

            @media only screen and (max-width: 426px){
                width: 350px;
            }
        }


        div{
            margin-bottom: 19px;
        }

        .face{
            width: 600px;
            @media only screen and (max-width: 1024px) {
                width: 500px;
            }
            @media only screen and (max-width: 426px){
                width: 350px;
            }

        }
    }

    .mid-text{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .bottom-text{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .bottom-right{
            width: 500px;
        }

        .bottom-left{
            width: 500px;
        }
    }
}
