@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.faceim {
  padding-top: 90px;
  width: 100%;
}

.bhero {
  padding-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

.solve {
  background: #264653;
  font-family: "DM Sans", sans-serif;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 30px;
  color: white;
}

.solve-title {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.solve-title img {
  width: 40px;
  margin-right: 15px;
}

.solve-title span {
  font-size: 28px;
  font-weight: 600;
}
