@import "./variables.scss";

.card-body{
    width: 350px;
    font-family: $font-main;
    color: $font-primary;
    background: #2A363B;
    margin-top: 30px;
    padding-bottom: 10px;
    border-radius: 25px;
    @include flex-align;
    flex-direction: column;

    .icon-holder{
        background: #F1D1B5;
        width: 60px;
        height: 60px;
        margin-top: 30px;
        margin-bottom: -10px;
        border-radius: 30px;
    }

    img{
        width: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .card-title{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .card-desc{
        font-size: 16px;
        font-weight: 500;
        @include margin-lr(30px);
        text-align: center;
    }
}
