@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.Cform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Cform div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.Cform label {
  font-family: "DM Sans", sans-serif;
}

.Cform input {
  font-family: "DM Sans", sans-serif;
  width: 500px;
  height: 25px;
  border: #138086 2px solid;
}

.Cform textarea {
  font-family: "DM Sans", sans-serif;
  width: 500px;
  height: 250px;
  border: #138086 2px solid;
}

.Cform .subbutton {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
  border-width: 0;
  background-color: #EFC958;
}
