@import "./variables.scss";

.Cform{
    @include flex-align;
    flex-direction: column;


    div{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 20px;
    }

    label{
        font-family: $font-main;
    }

    input{
        font-family: $font-main;
        width: 500px;
        height: 25px;
        border: #138086 2px solid;
    }
    textarea{
        font-family: $font-main;
        width: 500px;
        height: 250px;
        border: #138086 2px solid;
    }

    .subbutton{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        margin-top: 20px;
        border-width: 0;
        background-color: $tertiary;

    }
}
