@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.container {
  margin-left: 120px;
  margin-right: 120px;
}

.container-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-front .fancy-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.container-front .fancy-shape .lineshape {
  width: 3.5px;
  height: 550px;
  background-color: #534666;
}

.container-front .fancy-shape .circleshape {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  background-color: #534666;
}

.container-front .container-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  align-self: center;
  margin-right: 80px;
}

.container-front .container-text .main-pg {
  font-size: 40px;
}

.container-front .container-text .main-pg .colored-text-1:hover {
  color: #2C8DD3;
}

.container-front .container-text .main-pg .colored-text-2:hover {
  color: #289646;
}

.container-front .container-text p.second-pg-1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.container-front .container-text p.second-pg-2 {
  font-size: 28px;
  margin-top: 0px;
}

.container-front .container-text p.second-pg-2 .colored-text-3:hover {
  color: #242BDE;
}

.container-front .container-text p.second-pg-2 .colored-text-4:hover {
  color: #B83F3F;
}

.container-front .container-text p.desc-pg-1.desc-pg-2 {
  font-size: 22px;
}

.container-front .container-text .colored-text-5 {
  color: #4A3F90;
}

.container-front img {
  width: 250px;
  height: 250px;
  border-radius: 130px;
}

.container .layer-text {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  margin-top: 60px;
}

.container .layer-text::after {
  content: '';
  z-index: -1;
  position: absolute;
  right: 73.5%;
  width: 18.5%;
  height: 12px;
  margin-top: 25px;
  transition: all ease-in-out 0.35s;
  background: #efd375;
}

.container .layer-text:hover::after {
  right: 73.5%;
  transform: scaleY(1.5);
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
