@import "variables.scss";

.container{
    @include margin-lr(120px);
    padding-top: 90px;
    @media only screen and (max-width: 1024px) {
        @include margin-lr(80px);
    }
    @media only screen and (max-width: 426px) {
        @include margin-lr(30px);
    }

    &-front{
        @include flex-align();
        @media only screen and (max-width: 426px){
            flex-direction: column;
        }

        .container-mobile{
            display: none;
            @media only screen and (max-width: 426px){
                width: 90vw;
                margin-top: 30px;
                margin-bottom: 20px;
                @include flex-align;

            }

            .mb-image{
                display: none;
                width: 100px;
                height: 100px;
                @media only screen and (max-width: 426px){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                }
            }

            .main-pg-sm {
                font-size: 40px;
                font-family: $font-body;
                font-weight: 600;
                display: none;
                @media only screen and (max-width: 768px){
                    display: block;
                    font-size: 22px;
                }

                .colored-text-1{
                    @media only screen and (max-width: 768px){
                        color: $font-color1;
                    }
                    &:hover{
                        color: $font-color1;
                    }
                }

                .colored-text-2{
                    @media only screen and (max-width: 768px){
                        color: $font-color2;
                    }
                    &:hover{
                        color: $font-color2;
                    }
                }
            }
        }

        .fancy-shape{
            @include flex-align;
            flex-direction: column;
            margin-right: 30px;
            @media only screen and (max-width: 1024px){
                margin-right: 20px;
            }
            @media only screen and (max-width: 426px){
                flex-direction: row;
            }

            .lineshape{
                width: 3.5px;
                height: 550px;
                background-color: $primary;
                @media only screen and (max-width: 1024px){
                    height: 480px;
                }
                @media only screen and (max-width: 426px){
                    height: 3.5px;
                    width: 395px;
                }
            }

            .circleshape{
                width: 12px;
                height: 12px;
                border-radius: 15px;
                background-color: $primary;
            }
        }



        .container-text{
            font-family: $font-body;
            font-weight: 600;
            align-self: center;
            margin-right: 80px;
            @media only screen and (max-width: 1024px){
                margin-right: 20px;
            }
            @media only screen and (max-width: 768px){
                margin-right: 0px;
            }
            @media only screen and (max-width: 426px){
                margin-top: 10px;
                width: 380px;
            }

            .main-pg {
                font-size: 40px;
                @media only screen and (max-width: 1024px){
                    font-size: 28px;
                }
                @media only screen and (max-width: 768px){
                    font-size: 25px;
                }
                @media only screen and (max-width: 426px){
                    display: none;
                }

                .colored-text-1{
                    @media only screen and (max-width: 768px){
                        color: $font-color1;
                    }
                    &:hover{
                        color: $font-color1;
                    }
                }

                .colored-text-2{
                    @media only screen and (max-width: 768px){
                        color: $font-color2;
                    }
                    &:hover{
                        color: $font-color2;
                    }
                }
            }


            p.second-pg-1{
                font-size: 22px;
                margin-bottom: 10px;
                @media only screen and (max-width: 1024px){
                    font-size: 19px;
                }
                @media only screen and (max-width: 768px){
                    font-size: 18px;
                }
            }

            p.second-pg-2{
                font-size: 28px;
                margin-top: 0px;
                @media only screen and (max-width: 1024px){
                    font-size: 22px;
                }
                @media only screen and (max-width: 768px){
                    font-size: 20px;
                }

                .colored-text-3{
                    &:hover{
                        color: $font-color3;
                    }
                }

                .colored-text-4{
                    &:hover{
                        color: $font-color4;
                    }
                }
            }

            p.desc-pg-1, .desc-pg-2{
                width: 480px;
                line-height: 25px;
                font-weight: 450;
                @media only screen and (max-width: 1024px){
                    width: 420px;
                    font-size: 14px;
                }
                @media only screen and (max-width: 768px){
                    margin-right: 0px;
                    font-size: 14px;
                }
                @media only screen and (max-width: 426px){
                    width: 380px;
                    margin-right: 0px;
                    font-size: 13px;
                }
            }

            .colored-text-5{
                color: $font-color5;
            }
        }

        img{
            width: 250px;
            height: 250px;
            border-radius: 130px;
            @media only screen and (max-width: 1024px){
                width: 200px;
                height: 200px;
                border-radius: 100px;
            }
            @media only screen and (max-width: 768px){
                display: none;
            }
        }
    }
    .layer-text{
        font-family: $font-head;
        font-weight: 800;
        font-size: 40px;
        margin-top: 60px;
        @media only screen and (max-width: 1024px){
            font-size: 35px;
            font-weight: 700;
        }
        @media only screen and (max-width: 426px) {
            margin-top: 30px;
            font-size: 30px;
            font-weight: 700;
        }

    }

    &-card{
        @include flex-align;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}
