@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 140px;
  margin-right: 140px;
}

.container-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  align-self: center;
  margin-right: 80px;
}

.container-text .main-pg {
  font-size: 40px;
}

.container-text .main-pg .colored-text-1:hover {
  color: #2C8DD3;
}

.container-text .main-pg .colored-text-2:hover {
  color: #289646;
}

.container-text p.second-pg-1 {
  font-size: 22px;
  margin-bottom: 0px;
}

.container-text p.second-pg-2 {
  font-size: 28px;
  margin-top: 0px;
}

.container-text p.second-pg-2 .colored-text-3:hover {
  color: #242BDE;
}

.container-text p.second-pg-2 .colored-text-4:hover {
  color: #B83F3F;
}

.container-text p.desc-pg-1.desc-pg-2 {
  font-size: 22px;
}

.container-text .colored-text-5 {
  color: #72CAFC;
}

.container img {
  width: 250px;
  height: 250px;
  border-radius: 130px;
}
