@import "variables.scss";

.navbar{
    width: 100%;
    height: 90px;
    background-color: $primary;
    font-family: $font-main;
    font-weight: 700;

    &-container{
        color: $font-primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include margin-lr(50px);

        .navbar-logo{
            @include flex-align();

            img{
                width: 45px;
                margin-right: 15px;
            }
        }

        .navbar-item{
            padding: 30px;
        }
    }
}
