@import "variables.scss";

.navbar{
    width: 100%;
    height: 100px;
    background-color: $primary;
    font-family: $font-main;
    font-weight: 700;

    &-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
