@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.navbar {
  width: 100%;
  height: 90px;
  background-color: #534666;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.navbar-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-container .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container .navbar-logo img {
  width: 45px;
  margin-right: 15px;
}

.navbar-container .navbar-item {
  padding: 30px;
}
